[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain = "*"
langchain-openai = "*"
pypdf = "*"
spire = "*"
"spire.pdf" = "*"
pypdf2 = "*"
pinecone-client = "*"
langchain-pinecone = "*"
langchain-community = "*"
streamlit-chat = "*"

[dev-packages]

[requires]
python_version = "3.11"
